

body{
    font-family: 'sofia pro', sans-serif;
    background-color: #F2F2F2;
    margin: 0;
}


.c-navbar-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8; /* Couleur de fond de votre navbar, à personnaliser */
    padding: 35px 100px; /* Marge intérieure, à personnaliser */
    font-size: 25px;
}

.logo {
    margin-right: 20px; /* Espace entre le logo et les liens, à personnaliser */
}

.nav-links {
    display: flex;
    gap: 20px; /* Espace entre les liens, à personnaliser */
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Couleur des liens, à personnaliser */
}


.bottom-decoration {
    position: fixed;
    width: 100vw;
    height: 10px;
    bottom: 0;
    z-index: 100;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.bottom-decoration .red {
    background-color: var(--red);
}

.bottom-decoration .blue {
    background-color: var(--blue);
}

.bottom-decoration .yellow {
    background-color: var(--yellow);
}

.bottom-decoration div {
    float: left;
    width: calc(100%/3);
    height: 100%;
}

:root {
    --blue: #00a5a5;
    --red: #dc3545;
    --yellow: #fec800;
}

h1{
    padding: 50%;
}
