.form-style-8{
	font-family: 'fira sans',sans-serif;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'fira sans',sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 input[type="phone"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px 'fira sans', sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
    background-color: #E94A34;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'fira sans',sans-serif;
    font-size: 14px;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border: #E94A34;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background-color : #bd2b18;
}

th{
    background-color: #FEC800;
}


td {
  text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} 

.search-container {
    text-align: center;
    margin-top: 50px;
}

.search-box {
    background-color: #f2f2f2f2;
    padding: 15px;
    border: 2px solid #d1d1d1f2;
    border-radius: 20px;
    outline: none;
    width: 35%;
}

.search-button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    cursor: pointer;
}



body{
    font-family: 'sofia pro', sans-serif;
    background-color: #F2F2F2;
    margin: 0;
}


.c-navbar-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 35px 100px;
    font-size: 25px;
}

.logo {
    margin-right: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}


.bottom-decoration {
    position: fixed;
    width: 100vw;
    height: 10px;
    bottom: 0;
    z-index: 100;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.bottom-decoration .red {
    background-color: var(--red);
}

.bottom-decoration .blue {
    background-color: var(--blue);
}

.bottom-decoration .yellow {
    background-color: var(--yellow);
}

.bottom-decoration div {
    float: left;
    width: calc(100%/3);
    height: 100%;
}

:root {
    --blue: #00a5a5;
    --red: #dc3545;
    --yellow: #fec800;
}

h1{
    padding: 50%;
}

